.mainpage {
    width: 100vw;
    height: 100%;
    background: linear-gradient(to bottom, rgba(238, 236, 236, 1) 10%, #e3e6e6);
    position: relative;
    z-index: 1;
    display: flex;
    padding: 0 3% 2rem;
    justify-content: center;
}
.mainpage_bg_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    margin-bottom: 2rem;
}
@media (max-width: 60rem) {
    .mainpage {
        padding: 0 11%;
    }
}
@media (max-width: 48rem) {
    .mainpage {
        padding: 0 5%;
    }
}
@media (max-width: 41rem) {
    .mainpage {
        padding: 0 3%;
    }
}
@media (max-width: 40rem) {
    .mainpage {
        padding: 0 1%;
    }
}
@media (max-width: 38rem) {
    .mainpage {
        padding: 0 24%;
    }
}
@media (max-width: 30rem) {
    .mainpage {
        padding: 0 18%;
    }
}

.advert_container {
    flex-wrap: wrap;
    padding-top: 16.25rem;
    display: flex;
    gap: 1rem;
}