/* base */
h6 {
    font-weight: normal;
    font-size: .75rem;
}
span {
    font-size: .9rem;
    font-weight: bold;
}

/* component */
.navbar_component {
    width: 100vw;
    height: 3.75rem;
    background-color: var(--primary-dark-color);
    display: flex;
    padding-top: .3rem;
    justify-content: center;
}
@media (max-width: 78rem) {
    .navbar_component {
        width: 100%;
        white-space: nowrap;
        height: 7rem;
        display: block;
        justify-content: baseline;
    }
}

.navbar_logo {
    background: var(--sprite-link) no-repeat -9px -50px;
	width: 6.125rem;
	height: 1.9375rem;
    margin: .625rem;
}

.navbar_right {
    display: flex;
    color: white;
    justify-content: space-evenly;
    width: auto;
    height: 3.2rem;
    margin-left: 1.05rem;
}
.navbar_right_cart {
    display: flex;
    line-height: 48px;
    position: relative;
}
.navbar_right_sign_in,
.navbar_right_return,
.navbar_right_cart {
    padding: .5rem;
}
.navbar_right_sign_in:hover,
.navbar_right_return:hover,
.navbar_right_cart:hover {
    border: .1rem solid white;
}
.navbar_right_cart .cart_img {
    background: var(--sprite-link) no-repeat -217px -336px;
	width: 43px;
	height: 30px;
    margin-right: .25rem;
}
.navbar_right_cart .cart_badge {
    font-size: .85rem;
    position: absolute;
    top: -.6rem;
    left: 1.7rem;
    color: var(--amazon-orange-color);
}
.person_icon {
    display: none;
}
@media (max-width: 78rem) {
    .navbar_right {
        justify-content: right;
        width: 100%;
        margin-left: -.3rem;
        margin-top: -2.6rem;
    }
    .navbar_right_cart {
        display: flex;
        position: relative;
    }
    .navbar_right_sign_in,
    .navbar_right_return,
    .navbar_right_cart {
        padding: 0 .5rem;
    }
}
@media (max-width: 28rem) {
    .navbar_right_sign_in,
    .navbar_right_return,
    .navbar_right_cart .text {
        display: none;
    }
    .person_icon {
        display: flex;
    }
}

/* footer */
.navbar_footer {
    width: 100vw;
    height: 2.5rem;
    background-color: var(--secondary-dark-color);
    display: flex;
    color: white;
    align-items: center;
    padding: 0 1rem;
}
.navbar_footer_menu {
    display: flex;
}
.navbar_footer_menu .navbar_footer_text {
    margin: 0.2rem 0 0 -.3rem;
}
.navbar_footer_text span {
    margin: .25rem .5rem;
    font-weight: normal;
}
@media (max-width: 64rem) {
    .navbar_footer {
        width: 100%;
        white-space: nowrap;
        padding: 0 1rem;
        overflow-x: auto;
        background-color: var(--primary-dark-color);
    }

    .navbar_footer_menu,
    .navbar_footer_text {
        white-space: nowrap;
    }
}